
// assets/vuetifyTheme.scss



@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
}

.input-container {
    margin: 20px 0;

    label {
        width: 100%;
        display: block;
        // margin: 20px 0;
        // margin: 10px 0;
        font-size: 15px;
    }

    input, select {
        margin: 5px 0;
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 15px;
        text-align: center;
        transition: all .3s linear;

        &:active, &:focus, &:hover {
            border-color: #1d1a71;
        }
    }
}

button, .button {
    background-color: #f9c301;
    color: white;
    border: none;
    padding: 13px 20px;
    border-radius: 9px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 15px;
    color: #252525;
    font-weight: bold;

    svg {
        width: 30px;
        vertical-align: middle;
        margin-left: 20px;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.95);
    }
}

p {
    color: #252525;
    font-size: 15px;
}

.page-enter-active,
  .page-leave-active {
    transition: all 0.3s;
  }
  .page-enter-from,
  .page-leave-to {
    opacity: 0;
    filter: blur(1rem);
  }

  .layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}